@charset "UTF-8";
/* CSS Document */
/*重置*/
*{padding: 0;margin:0;list-style:none;}
body{list-style:none;font-size:12px;color:#555555;background-color:#f0f0f0!important;}
img{ display:block;border:none;}
a{display:block;text-decoration:none;}
input{border:none;}
dl,dt,dd,li{ text-decoration:none;}
/*title*/
.nav .logo{height: 100px;width: 160px;overflow: hidden;float: left;padding-right:15px;margin-top:8px;}
.nav .icon-haoma{float: left;line-height:40px;font-size:13px;color:#ffffff;font-weight: bold;margin-left: 10px;}
.navbox{height:40px;z-index:9;position: relative; margin:auto;background:#554b4a;filter:alpha(opacity=90);-moz-opacity:0.90;opacity:0.90;font-family:'微软雅黑';}
.nav{width:1002px;margin:0 auto;height:40px; list-style:none;}
.nav li{float:left;height:40px;position:relative; list-style:none;}
.nav .nei{margin-left: 260px;}
.nav li .last{background:none;}
.nav li a{text-decoration:none;}
.nav li a span{float:left;display:block;line-height:40px;font-size:14px;color:#ffffff;cursor:pointer;width:96px;text-align:center; }
.mj_hover_menu{text-decoration:none; width:96px; background:url(../images/menu_hover.jpg); height:40px;}
.nav li.selected .submenu{display:block;}
.nav li .submenu{display: none; position:absolute;top:40px;left:-9px;}
.nav li .submenu li{float:none;padding:0;background:none;height:auto;border-bottom:dotted 0px #BEBEBE;}
.mj_menu_pro_bg{width:auto;background:#554b4a;margin-left: 10px;}
.mj_menu_pro_main{width:94px; padding-top:12px;margin-left: 10px;}
.mj_menu_pro_li{ float:left;}
.mj_menu_li_txt{line-height:22px; font-size:12px; color:#242424;margin-bottom: 10px;}
.mj_menu_li_txt font{font-size:14px; color:#bb1721;}
.mj_menu_li_txt a{color:#fff; text-decoration:none;}
.mj_menu_li_txt a:hover{color:#DC3033; text-decoration:underline;font-weight: bolder;}

.mj_menu_news_bg{width:480px; height:185px; background:url(../images/menu_news_bg.png) no-repeat;}
.mj_menu_news_main{width:440px; margin:auto; padding-top:12px;}
.nav .title_right{float: right;}
.nav .title_right a{float: left;line-height:40px;font-size:12px;color:#F1F1F1;cursor:pointer;}
.nav .title_right span{float: left;line-height:40px;font-size:18px;color:#959595;margin: 0 10px;}
/*search*/
.container{ width:300px!important;padding-left: 10px!important;}
.city-picker-span{width: 290px!important;}
.search01{padding-top:8px;}
.search01 .btn-group,.container,.input-group,.button_yijianzuyong{float: left;margin: 4px 10px;}
.background_img_01{width: 100%;height:126px;background:url(../styles/images/dangechengshi_backgroundimg.png)no-repeat center top;padding-top: 60px;}
span .placeholder{color:#333333!important;padding-left: 10px;}
.min_sousuo01{display: block;margin:0px auto 0px;text-align:center;width:770px;height: 60px;background-color:#242424;filter:alpha(opacity=90);-moz-opacity:0.90;opacity:0.90;}
.btn-group button,.form-control,.btn-default,.input-group-addon{border-radius: 0px!important;}
.btn-group button{width: 142px;}
.btn-group{margin-right: 0px!important;}
.input-group-addon{width: 94px!important;margin-right: 0px!important;}
.button_yijianzuyong{margin-left: 0px;}
.dropdown-menu li{display: block;padding: 3px 20px;clear: both;font-weight: 400;line-height: 1.42857143; color: #333;white-space: nowrap;text-decoration: none;background-color: transparent;}
/*min_nav*/
.min_daohang01{margin-top: 4px;}
.min_nav01,.min_nav02,.min_nav03{width: 1002px;margin: 0 auto;}
.min_nav01 a{display: block;width:20%;height: 100px;float: left;text-align: center;padding-top: 20px;cursor:pointer;border:solid 1px #dfdfdf;background-color:#FFF;border-right: none;color:#0072D0;}
.min_nav01 a:last-child{border-right:solid 1px #dfdfdf;}
.min_nav01 img{margin:0 auto;padding-bottom: 10px;}
.min_nav02 .fangkuang{width: 50%;height:160px;float: left;border:solid 1px #dfdfdf;background-color:#FFF;text-align: center;padding-top:70px;margin-top: 4px;cursor:pointer;border-right: none;color:#FFFFFF;font-size:20px;}
.min_nav02 .fangkuang:last-child{border-right:solid 1px #dfdfdf;} 
.name_T{font-weight: bold;margin-left: 2px;padding-bottom: 2px;letter-spacing: 5px;}
/*bottom*/
.line_bottom{height: 200px;margin: auto;z-index: 9;background-color:#000314;opacity: 0.90;font-family: "微软雅黑";border-top: #000314 1px solid;}
.line_bottom .nav_top01{width:1002px;margin:0 auto;height:200px; list-style:none;}
.nav_top02 a{float: left;margin-left: 50px;font-size: 16px;margin-top: 40px;margin-bottom: 40px;padding-right: 90px;color: #FFFFFF;}
.nav_top02 a:hover{color: #CE0C0F;font-weight:900; text-decoration-line: underline;}
.nav_top03,.nav_top04{margin: 0 auto; text-align: center;color:#FFFFFF;}
.line_bottom_01{height:1px;margin: auto;background-color: #9E9E9E;margin-top: 30px;}
.nav_top04{font-size: 8px;color:#AFAFAF;padding-top: 4px;}
/*下拉框*/
.sewvmain{width: 142px;position: relative;display: inline-block;}
.sewvtop{cursor:pointer;overflow: hidden;}
.sewvtop>span{float:left;width:80%;height:23px;white-space:pre;text-overflow:ellipsis;overflow: hidden;font-size: 14px;line-height:22px;color: #666;padding:0 5px;vertical-align: middle;} 
.sewvtop>em{width: 20px;height: 20px;vertical-align: middle;}
.sewvbm{width: 100%;position: absolute;left: 0;top: 40px;display: none;border: 1px #D9D9D9 solid;border-radius: 2px;background-color: #FFFFFF;z-index: 999!important;}
.sewvbm>li{cursor:pointer;width:100%;height:30px;line-height:30px;font-size: 14px;color: #666;padding-left:5px;margin-top: 4px;}
.sewvbm>li:hover{background: #57c5f7;color: #fff;}
			
			
			.lbaxztop{animation: rotatete 0.3s linear forwards;}
			.lbaxztop2{animation: rotatete2 0.3s linear forwards;z-index: 900!important;}
			@keyframes rotatete{
				from{transform: rotate(0deg);}
				to{transform: rotate(180deg);}
			}
			
			@keyframes rotatete{
				from{transform: rotate(0deg);}
				to{transform: rotate(180deg);}
			}
			
			@-moz-keyframes rotatete2{
				from{transform: rotate(180deg);}
				to{transform: rotate(0deg);}
			}
			@keyframes rotatete2{
				from{transform: rotate(180deg);}
				to{transform: rotate(0deg);}
			}